<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Criar conta</h1>

    <form action="/auth/cadastro" method="post">
        Nome: <input type="text" name="nome">
        <br>
        E-mail: <input type="email" name="email" required>
        <br>
        Senha: <input type="password" name="senha" >
        <br>

        {% if erro %}
            <p style="color: red;">{{ erro }}</p>
        {% endif %}

        <button type="submit">Cadastrar</button>
    </form>

    <p>Já tem conta? <a href="/auth/login">Entrar</a></p>
</body>
</html>
    