{% extends "base.html" %}

{% block titulo %}
Histórico de Movimentações | AAPM SENAI
{% endblock %}

{% block conteudo %}

<div class="main-content">

    <div class="page-header">
        <div>
            <h1>Histórico de Movimentações</h1>
            <p>Entradas e saídas de materiais</p>
        </div>

        <a href="/movimentacoes/novo" class="btn-primary">
            Nova Movimentação
        </a>
    </div>

    <!-- TABELA -->
    <table>

        <thead>
            <tr>
                <th>Data</th>
                <th>Tipo</th>
                <th>Material</th>
                <th>Quantidade</th>
                <th>Responsável</th>
            </tr>
        </thead>

        <tbody>

            {% for m in movimentacoes %}

            <tr>
                <td>{{ m.data }}</td>
                <td>{{ m.tipo }}</td>
                <td>{{ m.material }}</td>
                <td>{{ m.quantidade }}</td>
                <td>{{ m.responsavel }}</td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}