{% extends "base.html" %}
{% block titulo %}AAPM SENAI - Materiais Escolares{% endblock %}

{% block conteudo %}

<section class="hero">
    <div class="hero-content">
        <span class="hero-badge">AAPM SENAI</span>

        <h1 class="hero-title">
           Produtos e materiais para o seu dia a dia no SENAI
        </h1>

        <p class="hero-text">
            Encontre materiais escolares, 
            itens de vestuário e acessórios utilizados pelos
            alunos dos cursos do SENAI Têxtil e Moda.
        </p>

        <div class="hero-actions">
            <a href="/auth/login" class="btn-primary">Entrar no Sistema</a>
        </div>
    </div>

    <div class="hero-image">
        <img src="https://images.unsplash.com/photo-1517842645767-c639042777db?w=800"
             alt="Materiais escolares">
    </div>
</section>

<section class="categorias">
    <h2 class="section-title-home">Categorias Disponíveis</h2>

    <div class="categoria-grid">

        <div class="categoria-card">
            <span class="categoria-icon">👕</span>
            <h3>Uniformes</h3>
            <p>camisetas, calças, blusas etc.</p>
        </div>

        <div class="categoria-card">
            <span class="categoria-icon">✏️</span>
            <h3>Papelaria</h3>
            <p>Cadernos, lápis, canetas e itens essenciais.</p>
        </div>

        <div class="categoria-card">
            <span class="categoria-icon">🧵</span>
            <h3>Têxtil e Moda</h3>
            <p>agulhas, linhas e materiais para projetos.</p>
        </div>

        <div class="categoria-card">
            <span class="categoria-icon">🎧</span>
            <h3>Outros</h3>
            <p>fones, carregadores entre muito mais.</p>
        </div>

    </div>
</section>

<section class="beneficios">
    <h2 class="section-title-home">Por que usar o sistema?</h2>

    <div class="beneficios-grid">

        <div class="beneficio-card">
            <h3>⚡ Rápido</h3>
            <p>Encontre materiais em poucos segundos.</p>
        </div>

        <div class="beneficio-card">
            <h3>📦 Organizado</h3>
            <p>Controle de estoque e pedidos.</p>
        </div>

        <div class="beneficio-card">
            <h3>🔒 Seguro</h3>
            <p>Acesso apenas para usuários autorizados.</p>
        </div>

    </div>
</section>

{% endblock %}